p {
    font-size: large
}
ul {
    list-style: none;
    font-weight: 600;
    font-size: larger;
    padding: 0; margin: 0;
}
a {
    color:inherit;
    text-decoration: none;
}
a:visited {
    color:inherit;
    text-decoration:none
}
body {
    background-color:#e0aaff
}
p, h1, ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
p, ul {
    color: #10002b;
}