* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height:100vh;
    background-image: linear-gradient(#f2d8ff, #f7e5ff);
}
header {
    display:block;
    width: 60%;
    font-size: large;
    color: #10002b;
}
header a {
    color:hsl(278, 100%, 35%);
    text-decoration:none;
}
.moviebox {
    display: flex;
    flex-flow:flow wrap;
    align-items: start;
    gap:0.5rem;
}
.movie a {
    padding: 0.5rem;
    display:inline-block;
    text-align: center;
}
.movie a:hover,
.movie a:focus {
    background-color:#f2d8ff
}
.movie img {
    width:8rem;
}
.movie-title {
    font-weight: 600;
    font-size: larger;
    padding: 0; margin: 0;
    background:inherit;
}
.popup a {
    padding:0.5rem;
    background-color:#f2d8ff;
    position:fixed;
    bottom:1dvw;
    right:1dvw;
    font-weight: 600;
}
a {
    color:inherit;
    text-decoration: none;
}
a:visited {
    color:inherit;
    text-decoration:none
}